_site

*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.DS_Store

# source files
2013/2013*

# YARD artifacts
.yardoc
_yardoc
doc/
