<!-- id, series, title, teacher, comment, date, disk, spl, published, created_at, updated_at -->
<div>
    <div id="type" class="teaching"> </div>
    <span class="record_details">
        <span class="title">{{:title}}</span>
        <span class="passage">{{:series}}</span>
        <span class="speaker">{{:teacher}}</span>
        <span class="date">{{:date}}</span>
    </span>
    <select>
        <option name="">Download</option>
        <option name="sermon">Sermon</option>
        <option name="cue">CUE File</option>
        <option name="original">Original</option>
        <option name="zipfile">ALL (.zip)</option>
    </select>
    <div class="file_indicators right">
        <div style="height:20px; margin:2px 3px;">MP3</div>
        <div style="height:20px; margin:2px 3px;">CUE</div>
    </div>
    <div class="file_indicators left">
        <div style="height:20px; margin:2px 3px;">FLAC</div>
        <div style="height:20px; margin:2px 3px;">LABEL</div>
    </div>
</div>
