<!-- id, date, official, child, comment, type, notice_sent, published, created_at, updated_at -->
<div>
    <img class="type" src="images/baby.svg"> </img>
    <span class="record_details">
      <span class="title">{{child}}</span>
      <span class="passage">Child Dedication</span>
      <span class="speaker">{{official}}</span>
      <span class="date">{{date}}</span>
    </span>
    <select>
        <option name="">Download</option>
        <option name="dedication">Dedication</option>
    </select>
    <div class="file_indicators right">
        <p>MP3</p>
        <p>CUE</p>
    </div>
    <div class="file_indicators left">
        <p>FLAC</p>
        <p>LABEL</p>
    </div>
</div>
