<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <meta name="google-site-verification" content="1hkL-yUG1b7r6JKQU-kMsvVItqt6s8r4MQjGKW8PyoA" />
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <link rel="stylesheet" href="/style/master" type="text/css" media="screen" title="no title">
  <script type='text/javascript' src='js/jquery.min.js'></script>
  <script type='text/javascript' src='js/jquery.progressbar.js'></script>
  <script type='text/javascript' src='js/jquery.droppable.js'></script>
  <title>CTKSound.org Version 2</title>
</head>

<body>
  <header id="banner">
  <p style="font-size: 24px;">CTKSound.org</p>
  <p>Serving the Church's recording needs since 2008...</p>
  </header>

  <nav>
    <ul>
      <li class="active"><a href="/">Recordings</a></li>
      <li><a href="/docs">Documentation</a></li>
      <li><a href="/team">Team Information</a></li>
      <li><a href="http://ctksound.org/dash">Original Site</a></li>
    </ul>
    <p id="nav_handle">Menu</p>
  </nav>

  <article>
    <%= yield %>
  </article>

  <footer>
    Design &amp; Copyright &copy; 2011 <a href="http://kevingustavson.info/">Kevin Gustavson</a>.  All rights reserved. Powered by <a href="http://www.sinatrarb.com/" target="_blank">Sinatra</a>.
  </footer>
</body>
</html>
