<div>
    <div id="type" class="portrait"> </div>
    <span class="record_details">
      <span class="title">Portrait of Grace</span>
      <span class="passage">{{comment}}</span>
      <span class="speaker">{{speaker}}</span>
      <span class="date">{{date}}</span>
    </span>
    <select>
        <option name="">Download</option>
        <option name="portrait">Portrait</option>
    </select>
    <div class="file_indicators right">
        <div style="height:20px; margin:2px 3px;">MP3</div>
        <div style="height:20px; margin:2px 3px;">CUE</div>
    </div>
    <div class="file_indicators left">
        <div style="height:20px; margin:2px 3px;">FLAC</div>
        <div style="height:20px; margin:2px 3px;">LABEL</div>
    </div>
</div>
