<div>
    <img class="type" src="images/sermon.png"> </img>
    <span class="record_details">
      <span class="title">{{title}}</span>
      <span class="passage">{{scripture}}</span>
      <span class="speaker">{{preacher}}</span>
      <span class="date">{{date}}</span>
    </span>
    <select>
        <option name="">Download</option>
        <option name="sermon">Sermon</option>
        <option name="cue">CUE File</option>
        <option name="original">Original</option>
        <option name="zipfile">ALL (.zip)</option>
    </select>
    <div class="file_indicators right">
        <p>MP3</p>
        <p>CUE</p>
    </div>
    <div class="file_indicators left">
        <p>FLAC</p>
        <p>LABEL</p>
    </div>
</div>
