<div>
    <div id="type"> </div>
    <span class="record_details">
        <span class="title"><%= data[:title] %></span>
        <span class="passage"><%= data[:scripture] %></span>
        <span class="speaker"><%= data[:preacher] %></span>
        <span class="date"><%= data[:date] %></span>
    </span>
    <select>
        <option name="">Download</option>
        <option name="sermon">Sermon</option>
        <option name="cue">CUE File</option>
        <option name="original">Original</option>
        <option name="zipfile">ALL (.zip)</option>
    </select>
    <div class="file_indicators right">
        <div style="height:20px; margin:2px 3px;">MP3</div>
        <div style="height:20px; margin:2px 3px;">CUE</div>
    </div>
    <div class="file_indicators left">
        <div style="height:20px; margin:2px 3px;">FLAC</div>
        <div style="height:20px; margin:2px 3px;">LABEL</div>
    </div>
</div>
