<!-- id, series, title, teacher, comment, date, disk, spl, published, created_at, updated_at -->
<div>
    <img class="type" src="images/teaching.png"> </img>
    <span class="record_details">
        <span class="title">{{:title}}</span>
        <span class="passage">{{:series}}</span>
        <span class="speaker">{{:teacher}}</span>
        <span class="date">{{:date}}</span>
    </span>
    <select>
        <option name="">Download</option>
        <option name="sermon">Sermon</option>
        <option name="cue">CUE File</option>
        <option name="original">Original</option>
        <option name="zipfile">ALL (.zip)</option>
    </select>
    <div class="file_indicators">
        <div class="right">
            <p>MP3</p>
            <p>CUE</p>
        </div>
        <div class="left">
            <p>FLAC</p>
            <p>LABEL</p>
        </div>
    </div>
</div>
