<div id="parent">

  <aside id="filters">
    <%= erb :filters %>
  </aside>

  <div id="items">
  <% data.each do |row| %>
    <%= erb :sermon_record, :locals => { :data => row }, :layout => false %>
  <% end %>
  </div>
</div>
