* {
    margin: 0;
    padding: 0;
}
#parent {
    position: relative;
}
#filters {
    background: white;
    border: 2px solid black;
    border-radius: 7px;
    height: 400px;
    left: 0;
    padding: 10px;
    position: relative;
    width: 400px;
    div, ul {
        margin-bottom: 15px;
    }
}
#items {
    background: white;
    border: 2px solid black;
    border-radius: 7px;
    height: 400px;
    left: 420px;
    margin-left: 10px;
    padding: 10px;
    position: absolute;
    top: 0;
    /*width: 600px;*/
}
#items > div {
    background: gray;
    height: 40px;
    margin: 10px auto;
    width: 680px;
}

/* ORIGINAL CSS */
#drop_target {
  width: 400px;
  height: 300px;
  border: 1px dashed;
}
