@zoom: 1.00;
@text_color: #555555;
@nav_color: #000;
@item_color: #fff;
@filter_width: 400px * @zoom;
@item_height: 45px * @zoom;
@items_width: 850px * @zoom;
@body_width: @filter_width + @items_width;
@text_shadow: 1px 1px 1px #bbbbbb;

* {
    font-family: sans-serif;
    font-size: 12px * @zoom;
    margin: 0;
    padding: 0;
}

header {
    background: lightgray;
    /*height: 35px;*/
    min-width: @body_width;
    width: 100%;
}

article {
    color: @text_color;
    margin: 0 auto;
    width: @body_width;
}

select {
    font-size: 100% * @zoom;
    option { font-size: 100% * @zoom; }
}

[draggable] {
    cursor: move;
    user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -khtml-user-drag: element;
}

nav {
    background:    rgba(0,0,0,0.25);
    border:        1px solid rgba(0,0,0,0.5);
    border-radius: 0 5px 5px 0;
    box-shadow:    0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    color:         #000;
    height:        95px;
    left:          -116px;
    opacity:       0.6;
    padding:       5px 40px 5px 5px;
    position:      fixed;
    top:           250px;
    z-index:       100;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);

    * {
        opacity: 1.0;
    }

    li {
        list-style-type: none;
        margin-top: 5px;
    }

    #nav_handle {
        display:                    block;
        font-size:                  14px;
        font-weight:                bold;
        left:                       75px;
        padding:                    5px;
        text-align:                 center;
        top:                        40px;
        width:                      95px;
        position:                   absolute;
        z-index:                    -1;
        -moz-transform:             rotate(-90deg);
        -ms-transform:              rotate(-90deg);
        -o-transform:               rotate(-90deg);
        -webkit-transform:          rotate(-90deg);
    }
}
nav:hover {
    -moz-transform: translate(116px,0);
    -ms-transform: translate(116px,0);
    -o-transform: translate(116px,0);
    -webkit-transform: translate(116px,0);
}

#parent {
    position: relative;
}
#filters {
    background: white;
    left: 0;
    padding: 10px * @zoom;
    position: relative;
    width: @filter_width;

    label.static { display: inline-block; width: 100px; }
    select { width: 200px * @zoom; }
    ul { list-style-type: none; }
    div, ul { margin-bottom: 15px * @zoom; }
    li li { padding-left: 20px * @zoom; }
    .checkboxes {
        float: left;
        padding-left: 10px * @zoom;
    }

    #uploaded_files {
        clear: both;
        height: 60px * @zoom;
        width: 390px * @zoom;
        .icon {
            /*border: 1px solid #ccc;*/
            /*display: inline-block;*/
            display: block;
            /*margin-top: 5px * @zoom;*/
            /*margin-left: 15px * @zoom;*/
            /*height: 48px * @zoom;*/
            /*width: 48px * @zoom;*/
        }
        .icon.mp3 { background-image: url(../images/mp3.png); }
        .icon.flac { background-image: url(../images/flac.png); }
        .icon.label { background-image: url(../images/label.png); }
    }

    #drop_target {
        border: 2px dashed #ccc;
        clear: both;
        height: 130px * @zoom;
        width: 390px * @zoom;
        p {
            color: #aaa;
            font-size: 18px * @zoom;
            padding-top: 55px * @zoom;
            text-align: center;
            z-index: 100;
        }
    }

    #drop_target.draggable_over {
        background-color:  #ff8;
        border: 2px solid #999;
        cursor: pointer;
        cursor: hand;
    }

    #progress {
      border: 1px solid #888;
      height: 30px;
      width: 98%;
    }

    #progressbar {
      background: lightblue;
      height: inherit;
      width:  1%;
    }
}
#items {
  color:       #000;
  left:        @filter_width + 10px;
  /*height:      800px;*/
  /*overflow:    scroll;*/
  padding-top: 10px;
  position:    absolute;
  top:         0;

  div {
    position: relative;

    div.date {
        background: #eee;
        border-right: 1px dashed #ccc;
        width: @item_height;

        span {
            text-align: center;
            font-size: 10px;
            height: auto;
            width: @item_height;
        }

        .day { font-size: 14px; }
    }

    .type {
        background: #eee;
        height: @item_height;
        margin-right: 5px;
        width: @item_height;
    }

    /*span {*/
        /*display:       block;*/
        /*position:      relative;*/
        /*text-overflow: elipsis;*/
        /*white-space:   nowrap;*/
        /*width:         @items_width;*/
    /*}*/

    .record_details {
       /*left: 55px * @zoom;*/

       span {
         display: block;
         overflow: hidden;
         position: relative;
         padding-top: 2px;
       }

      .title { font-size: 125%; }
      .speaker, .passage {
         display: inline-block;
         /*font-size: 85%;*/
     }

      .title, .passage { width: @items_width * 0.532226562; }
    }

    select {
        height: auto;
        position: absolute;
        right: 5px * @zoom;
        top: 7px * @zoom;
        width: 95px * @zoom;
    }

  }

  div > * {
     float: left;
     height: @item_height;
  }

}

#items > div {
    background: @item_color;
    border: 1px solid #aaa;
    /*border-radius: 3px;*/
    height: @item_height;
    /*margin: 3px auto;*/
    margin: 0;
    padding: 0;
}
    #items > div.droppable_over {
        background-color: #ff8;
    }


#items > div + div { border-top: none; }

footer {
    background: white;
    bottom: 0;
    color: @text_color;
    padding-right: 10px * @zoom;
    padding-top: 5px * @zoom;
    position: fixed;
    right: 0;
    text-align: right;
    text-shadow: @text_shadow;
    width: 100%;
    a { color: #aaa; }
    a:visited {
        color: #888;
    }
}
