@zoom: 1.00;
@text_color: #555555;
@nav_color: #CCC;
@item_color: #fff;
@filter_width: 400px * @zoom;
@items_width: 850px * @zoom;
@body_width: @filter_width + @items_width;
@text_shadow: 1px 1px 1px #bbbbbb;

* {
    font-family: sans-serif;
    font-size: 12px * @zoom;
    margin: 0;
    padding: 0;
}

header {
    background: lightgray;
    /*height: 35px;*/
    width: 100%;
}

article {
    color: @text_color;
    margin: 0 auto;
    width: @body_width;
}

select {
    font-size: 100% * @zoom;
    option { font-size: 100% * @zoom; }
}

[draggable] {
    cursor: move;
    user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -khtml-user-drag: element;
}

nav {
    background: @nav_color;
    height: 95px;
    left: -116px;
    /*min-width: @filter_width + @items_width + 20px;*/
    padding: 5px 15px 5px 5px;
    position: fixed;
    top: 250px;
    z-index: 100;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;

    li {
        /*float: left;*/
        list-style-type: none;
        margin-top: 5px;
        /*margin-left: 10px * @zoom;*/
        /*padding-top: 3px * @zoom;*/
    }

    #nav_handle {
        background: @nav_color;
        border-top: 1px dotted #888;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        color:       #000;
        display:     block;
        left:        75px;
        padding:     5px;
        text-align:  center;
        top:         40px;
        width:       95px;
        position:    absolute;
        z-index:     -1;
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
    }
}
nav:hover {
    -moz-transform: translate(116px,0);
    -ms-transform: translate(116px,0);
    -o-transform: translate(116px,0);
    -webkit-transform: translate(116px,0);
}

#parent {
    position: relative;
}
#filters {
    background: white;
    left: 0;
    padding: 10px * @zoom;
    position: relative;
    width: @filter_width;

    label.static { display: inline-block; width: 100px; }
    select { width: 200px * @zoom; }
    ul { list-style-type: none; }
    div, ul { margin-bottom: 15px * @zoom; }
    li li { padding-left: 20px * @zoom; }
    .checkboxes {
        float: left;
        padding-left: 10px * @zoom;
    }

    #uploaded_files {
        clear: both;
        height: 60px * @zoom;
        width: 390px * @zoom;
        .icon {
            /*border: 1px solid #ccc;*/
            /*display: inline-block;*/
            display: block;
            /*margin-top: 5px * @zoom;*/
            /*margin-left: 15px * @zoom;*/
            /*height: 48px * @zoom;*/
            /*width: 48px * @zoom;*/
        }
        .icon.mp3 { background-image: url(../images/mp3.png); }
        .icon.flac { background-image: url(../images/flac.png); }
        .icon.label { background-image: url(../images/label.png); }
    }

    #drop_target {
        border: 2px dashed #ccc;
        clear: both;
        height: 130px * @zoom;
        width: 390px * @zoom;
        p {
            color: #aaa;
            font-size: 18px * @zoom;
            padding-top: 55px * @zoom;
            text-align: center;
            z-index: 100;
        }
    }

    #drop_target.draggable_over {
        background-color:  #ffe;
        border: 2px solid #999;
        cursor: pointer;
        cursor: hand;
    }

    #progress {
      border: 1px solid #888;
      height: 30px;
      width: 98%;
    }

    #progressbar {
      background: lightblue;
      height: inherit;
      width:  1%;
    }
}
#items {
  color:       #000;
  left:        @filter_width + 10px;
  /*height:      800px;*/
  /*overflow:    scroll;*/
  padding-top: 10px;
  position:    absolute;
  top:         0;

  div {
    position: relative;

    .type {
        background: #eee;
        height: 40px * @zoom;
        position: absolute;
        top: 0;
        width: 40px * @zoom;
    }

    span {
        display:       block;
        position:      relative;
        text-overflow: elipsis;
        white-space:   nowrap;
        width:         @items_width;
    }

    .record_details {
       left: 55px * @zoom;

       span {
         display: block;
         overflow: hidden;
         position: relative;
         padding-top: 2px;
       }

      .title, .speaker { font-size: 120%; }
      .passage, .date { font-size: 85%; }

      .title, .passage { width: @items_width * 0.532226562; }

      .speaker, .date {
          left:  @items_width * 0.53;
          width: @items_width * 0.224609375;
          top:   -35px * @zoom;
      }
    }

    .file_indicators {
      height:   40px * @zoom;
      position: absolute;
      right:    @items_width * 0.20;
      top:      2px * @zoom;

      div { position: absolute; }

      .left { left: 0; }
      .right { left: 40px; }

      p {
        font-size:  70% * @zoom;
        margin-top: 5px * @zoom;
      }
    }

    select {
        position: absolute;
        top: 7px * @zoom;
        right: 5px * @zoom;
        width: 95px * @zoom;
    }

  }
}
#items > div {
    background: @item_color;
    border: 1px solid #aaa;
    /*border-radius: 3px;*/
    height: 40px * @zoom;
    /*margin: 3px auto;*/
    margin: 0;
    padding: 0;
}
    #items > div.droppable_over {
        background-color: lightyellow;
    }


#items > div + div { border-top: none; }

footer {
    background: white;
    bottom: 0;
    color: @text_color;
    padding-right: 10px * @zoom;
    padding-top: 5px * @zoom;
    position: fixed;
    right: 0;
    text-align: right;
    text-shadow: @text_shadow;
    width: 100%;
    a { color: #aaa; }
    a:visited {
        color: #888;
    }
}
