---
layout: default
---
<!-- Assignments -->
{% include assignments.html %}

<!-- Label Info -->
{% include label_info.html %}

<!-- Mail Body -->
{% include mailto.html %}

<!-- Files -->
<div id="files">
    {% if page.ace %}
    <div id="ace" class="recording">
        <p class="type">ACE:</p>
    {% if page.ace.title %}
        <a href="{{ace_url}}.mp3">{{ace_url}}.mp3</a>
        <p><audio src="{{ace_url}}.mp3" type="audio/mpeg" controls="controls" /></p>
        {% if page.ace.notes %}
        <p><em>{{ page.ace.notes }}</em></p>
        {% endif %}
    {% else %}
        {% if page.ace.notes %}
        <p><em>{{ page.ace.notes }}</em></p>
        {% endif %}
    {% endif %}
    </div>
    {% endif %}

    {% include portrait.html %}

    <div id="sermon" class="recording">
        <p class="type">Sermon:</p>
        <a href="{{sermon_url}}.mp3">{{sermon}}.mp3</a>
        <p><audio src="{{sermon_url}}.mp3" type="audio/mpeg" controls="controls" /></p>
        {% if page.sermon.notes %}
        <p><em>{{ page.sermon.notes }}</em></p>
        {% endif %}
    </div>

  {% if page.baptism %}

  <div id="baptism" class="recording">
    <p class="type">Infant Baptism:</p>
    <a href="{{baptism_url}}.mp3">{{baptism_url}}.mp3</a>
    <p><audio src="{{baptism_url}}.mp3" type="audio/mpeg" controls="controls" /></p>
    {% if page.baptism.notes %}<p><em>{{ page.baptism.notes }}</em></p>{% endif %}
  </div>
  {% endif %}

  {% if page.special %}
  <div id="special" class="recording">
    <p class="type">{{ page.special.type }}:</p>
    <a href="{{special_url}}.mp3">{{special_url}}.mp3</a>
    <p><audio src="{{special_url}}.mp3" type="audio/mpeg" controls="controls" /></p>
    {% if page.special.notes %}<p><em>{{ page.special.notes }}</em></p>{% endif %}
  </div>
  {% endif %}
</div>

<!-- Label Info -->
<div id="label">
  {{ label_info }}
</div>

<!-- Tracks -->
{% if page.tracks %}
<div id="tracks">
  <p> </p>
  <table>
    <tr><th>Speaker</th><th>Description</th><th>Length</th></tr>
  {% for track in page.tracks %}
  <tr>
      <td>{{ track[3] }}</td>
      <td>{{ track[2] }}</td>
      <td>{{ track[1]|minus:track[0] | format_time  }}</td>
  </tr>
  {% endfor %}
  </table>
</div>
{% endif %}

{{ mailto_link }}
