---
layout: default
---
<style type="text/css">
.title {
  font-weight: bold;
  margin: 10px 0 0 0;
}
#files {
  text-align: left;
}
    #files p {
        margin: auto 0;
    }

table th, table td {
  padding: 0 7px;
}
</style>

{% assign date = page.date|date: "%Y-%m-%d" %}
{% assign scripture = page.sermon.scripture|scripture_url %}
{% assign ace_url = {{date}}|append:"/"|append:date|append:", ACE, "|append:page.ace.title|title_url|append:".mp3" %}
{% assign sermon_url = '' %}

<!-- Files -->
<div id="files">
  <div id="ace">
    <p class="type">ACE:</p>
    <a href="http://recordings.ctksound.org/{{ace_url}}">{{ace_urlk}</a>
  </div>
  <div id="sermon">
    <p class="type">Sermon:</p>
    <a href="{{sermon_url}}">{{sermon_url}}</a>
  </div>
</div>

<!-- Label -->
<div id="label">
  <span class="title">Label Info:</span><br/>
  {{page.date|date: "%m/%d"}}, {{page.sermon.preacher|split: ' '|last}}, {{page.sermon.scripture}}, {{page.sermon.title}}<br/>
  {{page.sermon.length}} Total<br/>
  {{page.sermon.scripture_length}} Scripture Reading
</div>

<!-- Tracks -->
<div id="tracks">
  <span class="title">Tracks:</span><br/>
  <table>
    <tr><th>Speaker</th><th>Description</th><th>Length</th></tr>
  {% for track in page.tracks %}
  <tr>
      <td>{{ track[3] }}</td>
      <td>{{ track[2] }}</td>
      <td>{{ track[1] - track[0] | divided_by: 60  }}</td>
  </tr>
  {% endfor %}
  </table>
</div>
