---
layout: default
---
<style type="text/css">
.title {
  font-weight: bold;
  margin: 10px 0 0 0;
}
#files {
  text-align: left;
}
    #files p {
        margin: auto 0;
    }

table th, table td {
  padding: 0 7px;
}
</style>

{% assign date = page.date|date: "%Y-%m-%d" %}
{% assign ace_url = {{date}}|append:", ACE, "|append:page.ace.title|title_url %}

{% assign scripture = page.sermon.scripture | scripture_url %}
{% assign title = page.sermon.title | title_url %}
{% assign sermon = {{date}}|append:", "|append:{{page.sermon.scripture}}|append:", "|append:{{page.sermon.title}} %}
{% assign sermon_url = {{date}}|append:", "|append:{{scripture}}|append:", "|append:{{title}} %}

<!-- Files -->
<div id="files">
  <div id="ace">
    <p class="type">ACE:</p>
    <a href="http://recordings.ctksound.org/{{date}}/{{ace_url}}.mp3">
        {{ace_url}}.mp3
    </a>
  </div>
  <div id="sermon">
    <p class="type">Sermon:</p>
    <a href="http://recordings.ctksound.org/{{date}}/{{sermon_url}}.mp3">
        {{sermon}}.mp3
    </a>
  </div>
</div>

<!-- Label -->
<div id="label">
  <span class="title">Label Info:</span><br/>
  {{page.date|date: "%m/%d"}}, {{page.sermon.preacher|split: ' '|last}}, {{page.sermon.scripture}}, {{page.sermon.title}}<br/>
  {{page.sermon.length}} Total<br/>
  {{page.sermon.scripture_length}} Scripture Reading
</div>

<!-- Tracks -->
<div id="tracks">
  <p> </p>
  <table>
    <tr><th>Speaker</th><th>Description</th><th>Length</th></tr>
  {% for track in page.tracks %}
  <tr>
      <td>{{ track[3] }}</td>
      <td>{{ track[2] }}</td>
      <td>{{ track[1]|minus:track[0] | format_time  }}</td>
  </tr>
  {% endfor %}
  </table>
</div>
