---
layout: default
---
<!-- Assignments -->
{% include assignments.html %}

<!-- Label Info -->
{% include label_info.html %}

<!-- Mail Body -->
{% include mailto.html %}

<!-- Files -->
<div id="files">
  {% if page.ace %}
  <div id="ace" class="recording">
    <p class="type">ACE:</p>
    <a href="{{ace_url}}.mp3">{{ace_url}}.mp3</a>
    <audio controls="controls">
        <source src="{{ace_url}}.mp3" type="audio/mpeg" />
    </audio>
  </div>
  {% endif %}

  <div id="sermon" class="recording">
    <p class="type">Sermon:</p>
    <a href="{{sermon_url}}.mp3">{{sermon}}.mp3</a>
    <audio controls="controls">
        <source src="{{sermon_url}}.mp3" type="audio/mpeg" />
    </audio>
  </div>

  {% if page.baptism %}
  {% assign baptism = date|append:", baptism, "|append:page.baptism.title %}
  {% assign baptism_url = date|append:", Infant Baptism, "|append:page.baptism.child|title_url %}

  <div id="baptism" class="recording">
    <p class="type">Infant Baptism:</p>
    <a href="{{baptism_url}}.mp3">{{baptism_url}}.mp3</a>
    <audio controls="controls">
        <source src="{{baptism_url}}.mp3" type="audio/mpeg" />
    </audio>
  </div>
  {% endif %}
</div>

<!-- Label Info -->
<div id="label">
  {{ label_info }}
</div>

<!-- Tracks -->
{% if page.tracks %}
<div id="tracks">
  <p> </p>
  <table>
    <tr><th>Speaker</th><th>Description</th><th>Length</th></tr>
  {% for track in page.tracks %}
  <tr>
      <td>{{ track[3] }}</td>
      <td>{{ track[2] }}</td>
      <td>{{ track[1]|minus:track[0] | format_time  }}</td>
  </tr>
  {% endfor %}
  </table>
</div>
{% endif %}

{{ mailto_link }}
