---
layout: default
---
{% assign date = page.date|date: "%Y-%m-%d" %}

{% assign ace = date|append:", ACE, "|append:page.ace.title %}
{% assign ace_url = date|append:", ACE, "|append:page.ace.title|title_url %}

{% assign scripture = {{page.sermon.scripture}} | scripture_url %}
{% assign title = page.sermon.title | title_url %}
{% assign sermon = date|append:", "|append:page.sermon.scripture|append:", "|append:page.sermon.title %}
{% assign sermon_url = date|append:", "|append:scripture|append:", "|append:title %}

<!-- Files -->
<div id="files">
  {% if page.ace %}
  <div id="ace" class="recording">
    <p class="type">ACE:</p>
    <a href="{{ace_url}}.mp3">
        {{ace_url}}.mp3
    </a>
  </div>
  {% endif %}

  <div id="sermon" class="recording">
    <p class="type">Sermon:</p>
    <a href="{{sermon_url}}.mp3">
        {{sermon}}.mp3
    </a>
  </div>
</div>

<!-- Label -->
<div id="label">
  <span class="title">Label Info:</span><br/>
  {{page.date|date: "%m/%d"}}, {{page.sermon.preacher|split: ' '|last}}, {{page.sermon.scripture}}, {{page.sermon.title}}<br/>
  {% assign num_tracks = page.tracks|size|minus:1 %}
  {{ page.tracks[num_tracks][1] | minus:0 | format_time }} Total Time<br/>
  {{ page.tracks[0][1] | minus:page.tracks[0][0] | format_time  }} Scripture Reading
</div>

{% if page.tracks %}
<!-- Tracks -->
<div id="tracks">
  <p> </p>
  <table>
    <tr><th>Speaker</th><th>Description</th><th>Length</th></tr>
  {% for track in page.tracks %}
  <tr>
      <td>{{ track[3] }}</td>
      <td>{{ track[2] }}</td>
      <td>{{ track[1]|minus:track[0] | format_time  }}</td>
  </tr>
  {% endfor %}
  </table>
</div>
{% endif %}
